@import url("/sasi_assets/js/jquery.ui/styles/jquery-ui-1.8.18.custom.css");
@import url("/sasi_assets/js/facet_app/src/styles/facet_app-example.less");
@import url("/sasi_assets/js/facets/src/styles/facets-example.less");
@import url("/sasi_assets/js/mapview/src/styles/mapview-example.less");
@import url("/sasi_assets/js/dialogs/src/styles/dialogs-example.less");
@import url("/sasi_assets/js/download_dialog/src/styles/download_dialog-example.less");

.legend-image {
	background: url('/sasi_assets/images/habitat_legend_180w.png') no-repeat;
	width: 180px;
	height: 127px;
}

#habitat-map-app {
	height: 96%;
	width: 100%;
	padding-bottom: 2px;
}

.facets {
	font-size: 85%;
}

